.App {
  /* text-align: center; */
}

.navBarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 10px;
}

.navBarItems {
  margin-bottom: 50px;
}
ul,
li {
  text-decoration: none;
  list-style: none;

  margin-right: 10px;
}

button {
  margin-right: 10px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.description-input {
  width: 500px;
  height: 100px;
  outline: none;
  border-style: none;
}
.dashboardContent {
  height: 99vh;
  margin-top: 50px;
}

.userContent {
  background: rgb(241, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  border-radius: 10px;
  margin-top: 50px;
}

.userContent .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.userContent-wrapper {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.userContent-title {
  padding: 20px;

  /* text-align: left; */

  width: 100vw;
}

.img-verify img {
  height: 25px;
  width: 25px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}
.userContent-title span {
  display: flex;
  justify-content: center;
}

.post-input {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.post-input input {
  height: 70px;
  width: 630px;
  outline: none;
  border-style: none;
  font-weight: 700;
}

.post-input button {
  height: 72px;
}

.countryImage {
  width: 35px;

  /* object-fit: fill; */
  border-radius: 20px;
}

.verify-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userContent:hover {
  cursor: pointer;
  background-color: rgb(207, 200, 200);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.profile-wrapper {
  margin-top: 11%;
  margin-left: 100px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  margin-top: 24%;
  margin-left: 200px;
}


.midle-part{

  margin-left:32px;
}

.tweet-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}