.App {
  /* text-align: center; */
}

::-webkit-scrollbar {display:none;}

.navBarWrapper {
  /* position: fixed; */
  top: 0;
  width: 100%;
  margin-right: 10px;
}

.navBarItems {
  margin-bottom: 50px;
}
ul,
li {
  text-decoration: none;
  list-style: none;

  margin-right: 10px;
}

button {
  margin-right: 10px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Login CSS styles */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* End Login CSS */


/* Singup CSS Styles */
.signup-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* End Sign up Styles */

.description-input {
  width: 500px;
  height: 100px;
  outline: none;
  border-style: none;
}
.dashboardContent {
  height:auto; 
  margin-top: 50px;
}


/* User Content Component CSS Styles */
.userContent {
  background: rgb(241, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  border-radius: 10px;
  margin-top: 50px;
}

.userContent .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.userContent-wrapper {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.userContent-title {
  padding: 20px;

  /* text-align: left; */

  width: 100vw;
}

.img-verify img {
  height: 25px;
  width: 25px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}
.userContent-title span {
  display: flex;
  justify-content: center;
}

.userContent:hover {
  cursor: pointer;
  background-color: rgb(207, 200, 200);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* End User Content Styles  */

/* Post Styles */

.post-input {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.post-input input {
  height: 70px;
  width: 630px;
  outline: none;
  border-style: none;
  font-weight: 700;
}

.post-input button {
  height: 72px;
}

.countryImage {
  width: 35px;
  border-radius: 20px;
}

.verify-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* End Post Styles */

.flex-wrapper {

  display: flex;
  flex-direction: row;
}


/* Profile Component Styles */
.profile-wrapper {
  margin-top: 11%;
  margin-left: 100px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  margin-top: 24%;
  margin-left: 200px;
}


.midle-part{

  margin-left:32px;
}

.tweet-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

/* End Profile Styles */
.navbar-brand {
  margin-left:20px;
}
.tweets-alert{
  width:37%;
  margin-top: 4%;
}


/* Tag to center on the middle of the screen */
.center{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Footer */
